Source: ros-jazzy-kuka-lbr-iiwa-support
Section: misc
Priority: optional
Maintainer: "Aron Svastits" <svastits1@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-launch-testing-ament-cmake <!nocheck>, ros-jazzy-rviz2 <!nocheck>, ros-jazzy-urdf, ros-jazzy-xacro, ros-jazzy-ros-workspace
Homepage: https://index.ros.org/p/kuka_lbr_iiwa_support/#jazzy
Standards-Version: 3.9.2

Package: ros-jazzy-kuka-lbr-iiwa-support
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-joint-state-publisher-gui, ros-jazzy-kuka-resources, ros-jazzy-launch-ros, ros-jazzy-robot-state-publisher, ros-jazzy-urdf, ros-jazzy-xacro, ros-jazzy-ros-workspace
Description: ROS2 support package for the KUKA LBR iiwa
